{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Verify your Email Address" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Verify your Email Address" %}
    {% endelement %}
    <div class="container d-flex justify-content-center">
        {% element p %}
            {% blocktrans %}We have sent you an email for verification.{% endblocktrans %}
        {% endelement %}
    </div>
    <div class="container d-flex justify-content-center">
        {% element p %}
            {% blocktrans %}Please follow the link provided to finalise the signup process.{% endblocktrans %}
        {% endelement %}
    </div>
    <div class="container d-flex justify-content-center">
        {% element p %}
            {% blocktrans %}Note, the email may be in your spam folder.{% endblocktrans %}
        {% endelement %}
    </div>
{% endblock content %}
