{% extends 'home/base.html' %}
{% load static %}
{% block title %}
{% endblock title %}
{% block page_header %}
    <div class="bg-dark-darker px-3 py-3 my-3 text-center shadow-none rounded-5">
        <h1 class="display-3 fw-bold text-body-emphasis my-5">
            The <u class="text-glowing-yellow">PhD</u>-written path to your exam success
        </h1>
        <div class="col-lg-6 mx-auto mt-5 mb-2">
            <h1 class="lead">
                Expertly crafted revision resources to ensure you reach your full potential.
            </h1>
            {% if not user.is_authenticated %}
                <a
                    href="{% url 'account_signup' %}"
                    class="btn btn-lg btn-primary-landing rounded-pill mt-5 mb-4 border-0 py-3 px-4">
                    Join now
                </a>
            {% else %}
                <br>
            {% endif %}
        </div>
    </div>
{% endblock page_header %}
{% block content_2 %}
    <div class="bg-dark-lighter py-5">
        <div class="container py-2">
            <div class="d-flex justify-content-center">
                <img 
                    class="card-img-top mb-4"
                    alt="how it works icon"
                    src="{% static 'images/howitworks.svg' %}"
                    width="125"
                    height="125">
            </div>
            <h1 class="text-center mb-5 fw-bold">How it works</h1>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center g-4">
                <div class="col">
                    <div class="card border-info-subtle mb-4 rounded-3 shadow-lg h-100">
                        <div class="text-info card-header py-3 border-0">
                            <img 
                                class="card-img-top"
                                alt="revise icon"
                                src="{% static 'images/revise.svg' %}"
                                width="80"
                                height="80">
                            <h3 class="my-0 fw-bold pt-3">Revise</h3>
                        </div>
                        <div class="card-body">Revise with our hand-crafted revision material, specific to the syllabus, with the assurance
                            you are only learning what will be tested and learning it fully.</div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-info-subtle mb-4 rounded-3 shadow-lg h-100">
                        <div class="text-info card-header py-3 border-0">
                            <img 
                                class="card-img-top"
                                alt="test icon"
                                src="{% static 'images/test.svg' %}"
                                width="80"
                                height="80">
                            <h3 class="my-0 fw-bold pt-3">Test</h3>
                        </div>
                        <div class="card-body">Test your knowledge and refine your exam technique using our wide range of past exam questions, papers,
                            and model answers to guarantee you score the highest possible mark in your exams.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-info-subtle mb-4 rounded-3 shadow-lg h-100">
                        <div class="text-info card-header py-3 border-0">
                            <img 
                                class="card-img-top"
                                alt="track icon"
                                src="{% static 'images/track.svg' %}"
                                width="80"
                                height="80">
                            <h3 class="my-0 fw-bold pt-3">Track</h3>
                        </div>
                        <div class="card-body">Track your growth and monitor your progress as you work through our resources, 
                            so that you stay motivated throughout your studies and can quickly identify the areas needing the most attention.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3 py-5">
        <img 
            class="card-img-top mb-4"
            alt="celebrate icon"
            src="{% static 'images/celebrate.svg' %}"
            width="125"
            height="125">
        <h1 class="text-center mt-3 fw-bold">Let's get started!</h1>
        <h4 class="text-center mt-4">What are you studying?</h4>
        <div class="d-flex gap-4 justify-content-center mx-auto mb-0 mt-4">
            {% for qualification in qualifications %}
                <a 
                    href="{% url 'revision:qualification' qualification.slug %}"
                    class="btn btn-primary-landing btn-lg mt-4 rounded-pill border-0 py-3 px-4 mx-2">{{ qualification.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="bg-dark-lighter py-5">
        <div class="container">
            <div class="d-flex justify-content-center">
                <img 
                    class="card-img-top mb-4"
                    alt="team icon"
                    src="{% static 'images/team.svg' %}"
                    width="150"
                    height="150">
            </div>
            <h1 class="text-center mb-5 fw-bold">Meet the team</h1>
            <div class="row row-cols-1 row-cols-md-2 mb-3 text-center g-4">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-lg h-100">
                        <div class="text-info card-header py-3 border-0">
                            <img 
                                class="card-img-top"
                                alt="man icon"
                                src="{% static 'images/man.svg' %}"
                                width="70"
                                height="70">
                            <h3 class="my-0 fw-bold pt-3">Dr Cameron</h3>
                        </div>
                        <div class="card-body">
                            Cameron holds a PhD in Theoretical Physics and is a first-class UCL Maths and Physics graduate with over 6 years 
                            of teaching and tutoring experience.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-lg h-100">
                        <div class="text-info card-header py-3 border-0">
                            <img 
                                class="card-img-top"
                                alt="woman icon"
                                src="{% static 'images/woman.svg' %}"
                                width="70"
                                height="70">
                            <h3 class="my-0 fw-bold pt-3">Dr Larra</h3>
                        </div>
                        <div class="card-body">
                            Larra is a PhD Biomathematician with a first-class honours degree in Maths and Physics from UCL and has over 
                            10 years of teaching and tutoring experience.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="d-flex justify-content-center">
                <img 
                    class="card-img-top mb-4"
                    alt="team icon"
                    src="{% static 'images/tutor.svg' %}"
                    width="125"
                    height="125">
            </div>
            <h1 class="text-center mb-5 fw-bold">Tutoring</h1>
            <h5 class="d-flex justify-content-center">
                Our team has extensive experience tutoring all ages, from 11+ through to University!
            </h5>
            <h5 class="d-flex justify-content-center py-4">
                Find out more below!
            </h5>
            <div class="d-flex justify-content-center">
                <a 
                    href="{% url 'tutoring:tutoring' %}"
                    class="btn btn-primary-landing btn-lg mt-3 rounded-pill border-0 py-3 px-4 mx-2">Tutoring
                </a>
            </div>
        </div>
    </div>
    <div class="py-5 bg-dark-lighter">
        <div class="container">
            <div class="d-flex justify-content-center">
                <img
                    class="card-img-top mb-4"
                    alt="team icon"
                    src="{% static 'images/courses.svg' %}"
                    width="175"
                    height="175">
            </div>
            <h1 class="text-center mb-5 fw-bold mt-1">Courses</h1>
            <h5 class="d-flex justify-content-center">
                Join one of our exclusive GCSE or A Level revision courses today!
            </h5>
            <div class="d-flex justify-content-center pt-4 pb-2">
                <a
                    href="{% url 'courses:courses' %}"
                    class="btn btn-primary-landing btn-lg mt-3 rounded-pill border-0 px-4 py-3 mx-2">Courses
                </a>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="d-flex justify-content-center">
                <img
                    class="card-img-top mb-4"
                    alt="question mark"
                    src="{% static 'images/questionmark.svg' %}"
                    width="150"
                    height="150">
            </div>
            <h1 class="text-center mb-5 fw-bold">...Questions?</h1>
            <h5 class="d-flex justify-content-center">
                Have any questions? Don't hesitate to contact us below!
            </h5>
            <div class="d-flex justify-content-center pt-4 pb-2">
                <a
                    href="{% url 'home:contact' %}"
                    class="btn btn-primary-landing btn-lg mt-3 rounded-pill border-0 px-4 py-3 mx-2">Contact us
                </a>
            </div>
        </div>
    </div>
{% endblock content_2 %}
