{% load static %}
<!-- topic card -->
<card 
    id="card-div-{{ topic.id }}"
    class="card-topic-complete shadow-lg card rounded-3 text-center border-info pt-1 h-100">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <div aria-hidden="true" style="color:transparent">
                <img
                    style="visibility: hidden;"
                    alt="hidden checked checkbox"
                    src="{% static 'images/checked_checkbox.svg' %}"
                    width="25"
                    height="25">   
            </div>
            <h6 class="card-subtitle text-body-secondary">Topic {{ topic.topic_number }}</h6>
            <a href="#" hx-target="#card-div-{{ topic.id }}" hx-swap="outerHTML" hx-post="{% url 'revision:mark_topic_as_uncomplete' topic.id %}" hx-push-url="false">
                <img
                    alt="checked checkbox"
                    src="{% static 'images/checked_checkbox.svg' %}"
                    width="25"
                    height="25">   
            </a>     
        </div>
        <h5 class="card-title">{{ topic.topic_name }}</h5>
        <a 
            href="{% url 'revision:notes' examboard.subject.qualification.slug examboard.subject.slug examboard.slug topic.id topic.slug %}" 
            class="btn btn-primary-tms rounded-pill border-0 mx-3 px-4 my-2">
            Notes
        </a>                       
        <a 
            href="{% url 'revision:questions' examboard.subject.qualification.slug examboard.subject.slug examboard.slug topic.id topic.slug %}" 
            class="btn btn-primary-tms rounded-pill border-0 mx-3 px-4 my-2">
            Questions
        </a>
    </div>
</card>

<!-- htmx oob swaps -->
{% if is_request_htmx %}
    <!-- topic completion count -->
    <h6 id="topic-completion-count" hx-swap-oob="true" class="border-none d-flex justify-content-center mb-3 text-secondary-emphasis">
        ( {{ num_topics_completed }} / {{ total_num_topics }} )
    </h6>

    <!-- topic progress bar -->
    {% if topic_progress_percentage == 100 %}
    <div id="congratulations-toast" hx-swap-oob="true">{% include 'revision/snippets/congratulations_toast.html' %}</div>
    <div id="topic-progress-bar" hx-swap-oob="true" class="progress-bar bg-success" style="width: {{ topic_progress_percentage }}%"></div>
    {% else %}
    <div id="congratulations-toast" hx-swap-oob="true"></div>
    <div id="topic-progress-bar" hx-swap-oob="true" class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ topic_progress_percentage }}%"></div>
    {% endif %}
{% endif %}
