{% load static %}
<nav class="navbar navbar-dark-color navbar-expand-md mb-4 shadow-lg sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'revision:index' %}">
            <img 
                alt="Home Page - Teach Me STEM"
                src="{% static 'images/logo.svg' %}"
                width="135"
                height="50.76">
        </a>
        <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item dropdown px-1">
                    <a 
                        class="nav-link dropdown-toggle link-body-emphasis"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        role="button"
                        href="{% url 'revision:index' %}">Revise</a>
                    <ul class="dropdown-menu">
                        {% for qualification in qualifications %}
                            <li>
                                {% if user.is_authenticated %}
                                    <a 
                                        class="dropdown-item"
                                        href="{% url 'revision:qualification' qualification.slug %}">
                                        {{ qualification.name }}</a>
                                {% else %}
                                    <a 
                                        class="dropdown-item"
                                        href="{% url 'revision:qualification' qualification.slug %}">
                                        {{ qualification.name }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item px-1">
                        <a 
                            class="nav-link link-body-emphasis"
                            href="{% url 'revision:my_subjects' %}">
                            My Subjects</a>                                    
                    </li>
                {% endif %}
                <li class="nav-item px-1">
                    <a 
                        class="nav-link link-body-emphasis"
                        href="{% url 'tutoring:tutoring' %}">
                        Tutoring</a>                                    
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0"> 
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'revision:my_account' %}">
                            <img 
                                alt="person icon"
                                src="{% static 'images/person.svg' %}"
                                width="50"
                                height="50"
                                class="me-1">
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis mx-2" href="{% url 'account_login' %}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a 
                            class="btn btn-primary-landing rounded-pill border-0"
                            href="{% url 'account_signup' %}">
                            Join now</a>
                    </li>
                {% endif %}
            </ul> 
        </div>
    </div>
</nav>
