{% load static %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for pastpaper in pastpapers %}
            {% if pastpaper in completed_pastpapers %}  
                {% include 'revision/snippets/complete_pastpaper_row.html' %}
            {% else %}
                {% include 'revision/snippets/uncomplete_pastpaper_row.html' %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
