{% load static %}
<tr id="row-div-{{ pastpaper.id }}">
    <th scope="row">
        <h5 class="mt-1">{{ pastpaper.name | date:'F Y' }}</h5>
    </th>
    <td>
        <a 
            href="{% url 'revision:past_paper' pastpaper.examboard.subject.qualification.slug pastpaper.examboard.subject.slug pastpaper.examboard.slug pastpaper.id pastpaper.name %}" 
            class="btn btn-pastpaper rounded-pill border-0">Paper {{ pastpaper.paper_number }}</a>                       
    </td>
    <td>
        <a 
            href="{% url 'revision:model_answers' pastpaper.examboard.subject.qualification.slug pastpaper.examboard.subject.slug pastpaper.examboard.slug pastpaper.id pastpaper.name %}" 
            class="btn btn-pastpaper rounded-pill border-0">Model Answers</a>
    </td>
    <td>
        <a 
            href="{% url 'revision:mark_scheme' pastpaper.examboard.subject.qualification.slug pastpaper.examboard.subject.slug pastpaper.examboard.slug pastpaper.id pastpaper.name %}" 
            class="btn btn-pastpaper rounded-pill border-0">Mark Scheme</a>
    </td>
    <td class="align-middle">
        <a href="#" hx-target="#row-div-{{ pastpaper.id }}" hx-swap="outerHTML" hx-post="{% url 'revision:mark_pastpaper_as_complete' pastpaper.id %}" hx-push-url="false">
            <img
                alt="unchecked checkbox"
                src="{% static 'images/unchecked_checkbox.svg' %}"
                width="25"
                height="25">   
        </a>      
    </td>
</tr>

<!-- htmx oob swaps -->

<!-- pastpaper completion count -->
<h6 id="pastpaper-completion-count" hx-swap-oob="true" class="border-none d-flex justify-content-center mb-3 text-secondary-emphasis">
    ( {{ num_pastpapers_completed }} / {{ total_num_pastpapers }} )
</h6>

<!-- pastpaper progress bar -->
<div id="pastpaper-progress-bar" hx-swap-oob="true" class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ pastpaper_progress_percentage }}%"></div>

<!-- congratulations toast -->
<div id="congratulations-toast" hx-swap-oob="true"></div>
