{% extends 'revision/base.html' %}
{% load static %}
{% block title %}
    {{ subject.qualification.name }} {{ subject.name }} Revision ·
{% endblock title %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a 
                    href="{% url 'home:index' %}"
                    class="link-secondary link-underline-opacity-0 text-info">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a 
                    href="{% url 'revision:qualification' subject.qualification.slug %}"
                    class="link-secondary link-underline-opacity-0 text-info">{{ subject.qualification.name }}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">{{ subject.name }}</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block page_header %}
    <h1 class="border-none pb-2 my-3 d-flex justify-content-center display-5 fw-bold text-body-emphasis">
        {{ subject.qualification.name }} {{ subject.name }}
    </h1>
    <h5 class="border-none my-0 mb-5 d-flex justify-content-center">Choose your exam board.</h5>
{% endblock page_header %}
{% block content_1 %}
    <div class="row row-cols-1 g-4">
        {% for examboard in examboards %}
            <div class="col-sm-6 mb-3 mb-sm-0">
                <a 
                    class="btn-card shadow-lg card btn btn-primary rounded-3 text-center border border-info pt-2 h-100"
                    href="{% url 'revision:examboard' subject.qualification.slug subject.slug examboard.id examboard.slug %}"> 
                    <div class="card-body">
                        <h5 class="card-title">{{ examboard.name }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content_1 %}
