<h1 class="my-3 d-flex justify-content-center">Coming soon!</h1>
<div class="d-flex justify-content-center">
    <div class="w-75">
        <h3 class="mt-5 py-3 d-flex justify-content-center">
            We haven't gotten round to writing the notes for this topic yet, but we will soon! 
        </h3>
        <h3 class="py-3">
            In the mean time, check out our 
            <a href="{% url 'revision:notes' qualification_slug='a-level' subject_slug='maths' examboard_slug='edexcel' topic_id=72 topic_slug='topic-1-proof' %}" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Topic 1: Proof notes</a> 
            for A Level Maths if you haven't already.
        </h3>
        <h3 class="pt-3 pb-5">
            And check out our <a href="{% url 'revision:examboard' qualification_slug='a-level' subject_slug='maths' examboard_id=28 examboard_slug='edexcel' %}#pure-section" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">topic questions</a> and 
            <a href="{% url 'revision:examboard' qualification_slug='a-level' subject_slug='maths' examboard_id=28 examboard_slug='edexcel' %}#pastpapers" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">model answers</a> 
            for <a href="{% url 'revision:examboard' qualification_slug='a-level' subject_slug='maths' examboard_id=28 examboard_slug='edexcel' %}#pure-section" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Edexcel A Level Maths - Pure</a> too!
        </h3>
    </div>
</div>
